<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConfigurationSection" type="RdpAttackNotificator.Configuration.AppConfigurationSection, RdpAttackNotificator" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="CountLimit" value="3"/>
    <add key="ScanPeriod" value="24:00:00"/>
    <add key="RefreshPeriod" value="1:00:00"/>
  </appSettings>
  <ConfigurationSection>
    <OperationSystems>
      <OperationSystem Version="Microsoft Windows NT 6.2.9200.0" InstanceId="4625" Source="Security" IsDefault="true">
        <SearchPatterns>
          <add name="us" value="Account For Which Logon Failed.+Account Name:\s+(?&lt;Login&gt;[\d\w\.]+).+Source Network Address:\s+(?&lt;SourceIp&gt;[\d\.]+)"/>
          <add name="ru" value="Учетная запись, которой не удалось выполнить вход.+Имя учетной записи:\s+(?&lt;Login&gt;[\d\w\.]+).+Сетевой адрес источника:\s+(?&lt;SourceIp&gt;[\d\.]+)"/>
        </SearchPatterns>
      </OperationSystem>
    </OperationSystems>
    <LockTargets>
      <LockTarget Index="1" TargetType="Mikrotik" Target="192.168.88.1" Port="8728" User="admin" Password="" BlackList="rdp_restricted" LockPeriod="1d" />
    </LockTargets>
    <WhiteList>
      <add name="local" value="127.0.0.1"/>
    </WhiteList>
  </ConfigurationSection>
</configuration>