<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Error" autoReload="true" throwExceptions="false" internalLogFile="nlog.txt">
  <targets>
    <target name="fileLog" xsi:type="File" encoding="utf-8"
            fileName="${basedir}/log.txt"
            archiveFileName="${basedir}/archives/log.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            enableArchiveFileCompression="true"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            header="----- Start of log -----"
            footer="----- End of log -----" />

    <target xsi:type="ColoredConsole"
          name="consoleLog"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${logger}|${message} ${exception:format=tostring}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileLog, consoleLog" />
  </rules>
</nlog>